<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jupiter</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.waypoints.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/hoverIntent.js"></script>
    <script src="../js/superfish.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/main.js"></script>
</head>

<body>

    <div class="container">
        <div class="form-group">
            <label class="form-control-label">File Name:</label>
            <label class="form-control-label">
                <h3><%= file.name %></h3>
            </label>
        </div>
        <div class="form-group">
            <label class="form-control-label">File content</label>
            <textarea id="fileContent" class="form-control" id="message" rows="8" placeholder="Content"><%= file.content %></textarea>
        </div>
        <div>
            <button id="saveButton" class="btn btn-primary">Save</button>
        </div>
    </div>

    <script>
        window.addEventListener("unload", unlock);

        function unlock() {
            $.ajax({
                method: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/unlock",
                data: JSON.stringify(
                    {
                        _id: "<%= file._id %>",
                        clientKey: "<%= clientKey %>"
                    }
                )
            }).done(function (msg) {

            });
        }
    </script>

    <script>
        $("#saveButton").click(function () {
            window.removeEventListener("unload", unlock);
            $.ajax({
                method: "PUT",
                contentType: "application/json; charset=utf-8",
                url: "/updateFile",
                data: JSON.stringify(
                    {
                        _id: "<%= file._id %>",
                        name: "<%= file.name %>",
                        content: $('#fileContent').val(),
                        clientKey: "<%= clientKey %>"
                    }
                ),
                success: function(data) {
                    location.href = "/view";
                },
                error: function(request, status, error) {
                    alert("Something went wrong, please try again later.");
                }
            });
            // .done(function (rs, textStatus, xhr) {
            //     location.href = "../view";
            //     // console.log(xhr.getResponseHeader('X-CUSTOM-HEADER'));
            //     // console.log(xhr.status);
            // });
        });
    </script>
</body>

</html>